@{
    ViewData["Title"] = "Home Page";
}

@model SandwichBucket.ViewModels.HomeViewModel

<div id="text-center">
    <h1 class="display-4">Welcome to the greatest website all about sandwiches to ever grace this earth</h1>
</div>

<hr />

<h4>Random Sandwich: <b>@Model.Sandwich.Name</b> -- <small>@Model.Sandwich.Description</small></h4>
<p>Sandwich Alignment: <b>@Html.DisplayFor(model => model.Sandwich.Alignment)</b></p>
<ul>
    @foreach (var x in Model.Sandwich.Ingredients)
    {
        <li><b>@x.Ingredient.Name</b> -- <small>@x.Ingredient.Description</small></li>
    }
</ul>


<p>Random TAG: @Model.Tag.Name</p>

<h2>Can you make a sandwich with these things?</h2>

<ul>
@foreach (var i in Model.RandomSandwich)
{
    <li>@i.Name -- <small>@i.Description</small></li>
} 
</ul>